name: E2E

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize

jobs:
  e2e-default:
    runs-on: ubuntu-20.04

    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}

      - name: Set up Git user
        shell: bash
        run: |
          git config --global user.name ${{ github.actor }}
          git config --global user.email ${{ github.actor }}@users.noreply.github.com

      - name: Prepare test version
        id: prepare-test-version
        run: |
          short_sha=$(git rev-parse --short ${{ github.event.pull_request.head.sha }})
          version="$short_sha.minor.patch"

          git tag -a $version -m "Test version $version"
          git push origin $version

          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Test Run
        id: test_run
        uses: ./
        with:
          version: ${{ steps.prepare-test-version.outputs.version }}

      - name: Clean up version tag
        if: success() || failure()
        run: |
          version="${{ steps.prepare-test-version.outputs.version }}"
          git push origin --delete $version

      - name: Clean up major tag
        if: success() || failure()
        run: |
          major_version=${{ steps.test_run.outputs.major_version }}
          git push origin --delete $major_version

      - name: Clean up minor tag
        if: success() || failure()
        run: |
          minor_version=${{ steps.test_run.outputs.minor_version }}
          git push origin --delete $minor_version
